<div class="main-left">
	<h2>推荐捐赠</h2>
	<ul class="clear list">
	##for(var i = 0;i < mainArr.length;i++){##
		<li>
			<p class="li-top">
				<img src="{{mainArr[i].img}}" alt="">
				<span class="top-btn">{{mainArr[i].imgtext}}</span>
				<span class="top-top">长期项目</span>
			</p>
			<div class="li-btn">
				<div class="btl-left">
					<p class="btl-txt1">公益机构:{{mainArr[i].jigou}}</p>
					<p class="btl-txt2">已筹善款:<span>{{mainArr[i].money}}</span>元</p>
					
					<p class="btl-txt3 clear">
					<span>筹款人数:{{mainArr[i].people}}</span>
					<a href="#" title="">查看详情</a>
					</p>
				</div>
			</div>
		</li>
		##}##
	</ul>
</div>

<div class="main-right">
<div>
	<h2>最新公告</h2>
	<p class="mr-txt1">2014年11月13日 “爱心公益”子频道正式上线。壹钱包在给客户提供多元化的支付等互联网金融体验外，本着“诚信公益”的价值理念，联合中国平安及知名公益机构推出公益在线平台。我们在核实慈善捐赠项目资料后，提供壹钱包募捐入口，用户可直接捐款给指定公益项目。作为爱心公益平台，我们完全免费提供这项服务！欢迎多提出意见建议。谢谢大家对壹钱包的关注！</p>
</div>

	<h2>常见问题</h2>

<div class="mr-btn">
<p>壹钱包爱心公益如何捐款？</p>
<p>捐款发票如何索取？</p>
<p>公益捐款可以退款吗？</p>
<p class="mrbtn-one">除了捐款外，我还能对公益项目做哪..</p>
</div>
</div>